body{
    background-color: cyan;
}
.ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a {
    text-decoration: none;
}
.mid {
    text-align: center;
}

.main {
    display: flex;
    gap: 101px;
}

.photo {
    text-align: center;
    height: 50%;
    width: 50%;
    border: 1px solid red;
   

}


.main{ 
    display: flex; 
    /* display:  */
} 
.pic-mid{
    margin-top: 50px;
}
.pic-mid img{ 
    height: 50%;
    width: 50%; 
}
.text {
    text-align: center;
    height: 50%;
    width: 50%;
    border: 1px solid red;

}

